* {
	box-sizing:border-box;
}

body, html {
 margin: 0;
 padding: 0;
 font-family: 'Lora', serif;
 background-color: white;
 width: 100%;
 z-index: -11;
}

.nav-bar {
 background-color: white;
 z-index: 9999;
 height: 100px;
 width: 100%;
 position: absolute;
}

.nav-bar ul {
 overflow: hidden;
 margin: auto;
 padding: auto;
 margin-left: 40%;
}

.nav-bar li {
 display: block;
 text-decoration: none;
 float: left;
}

.nav-bar li a {
 display: block;
 text-decoration: none;
 color: black;
 padding: 15px 40px;
 margin-top: 20px;
 font-size: 20px;
}

a:hover {
 color: white;
 font-size: larger;
 line-height: 26pt;
}

.active h1 {
 background-color: black;
}
.billeder{
 width: 100%;
}

.row {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row img {
	height: 600px;
	width: auto;
	margin-left: 25px;
}